<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--    <add name="AppContext" connectionString="Server=tcp:hiperdeveu.database.windows.net,1433;Database=hiperdeveu;User ID=hiperdevadmin@hiperdeveu;Password=Newpassw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" ></add>-->
    <add name="AppContext" connectionString="Data Source=SERGEY-ISAKOV\SERGEYISAKOV;Initial Catalog=Hiper;User ID=hiper;Password=hiperpass" providerName="System.Data.SqlClient" />
    <!--    <add name="AppContext" connectionString="Server=tcp:hiperlive.database.windows.net,1433;Database=hiperlive;User ID=hiperliveadmin@hiperlive;Password=Newpassw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"  />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <appSettings>
    <!-- SendGrid-->
    <add key="mailAccount" value="azure_b0712502245d7552c8fca619e7dcbe8f@azure.com" />
    <add key="mailPassword" value="Newpassw0rd" />
    <add key="mailSenderAddress" value="hello@hiper.se" />
    <add key="mailAdminTeamCreation" value="admin_team_creation_template.html" />
    <add key="mailAutoReply" value="auto_reply_template.html" />
    <add key="mailConfirmation" value="confirmation_mail_template.html" />
    <add key="mailInviteToTeam" value="invite_to_team_template.html" />
    <add key="mailPasswordChanged" value="password_changed_template.html" />
    <add key="mailResetPassword" value="reset_passwrod_template.html" />
    <add key="mailUpdateManager" value="update_manager_template.html" />
    <add key="mailUpdateMember" value="update_member_template.html" />
    <add key="mailUpdateMemberActive" value="active_goals_part_mail_template.html" />
    <add key="mailUpdateMemberDeadline" value="deadline_goals_part_mail_template.html" />
    <add key="mailUpdateMemberFeedbacks" value="feedbacks_goals_part_mail_template.html" />
    <add key="mailUpdateMemberGoals" value="goals_part_mail_template.html" />
    <add key="mailUpdateManagerInfo" value="team_info_part_mail_template.html" />
    <add key="mailUpdateManagerDeadline" value="team_deadlines_part_mail_template.html" />
    <add key="mailUpdateManagerFeedbacks" value="team_feedbacks_part_mail_template.html" />
    <add key="mailUpdateManagerGoals" value="team_goals_part_mail_template.html" />
    <add key="mailTemplatesPath" value="~/Content/MailTemplates/" />
    <add key="webClientAddress" value="http://localhost:26543/" />
    <add key="iTunesAddress" value="http://localhost:26543/" />
    <add key="playMarketAddress" value="http://localhost:26543/" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>