<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hiperdevapieu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hiperdevapieu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hiperdevapieu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hiperdevapieu</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:hiperdeveu.database.windows.net,1433;Initial Catalog=hiperdeveu;User ID=hiperdevadmin@hiperdeveu;Password=Newpassw0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:hiperdeveu.database.windows.net,1433;Database=hiperdeveu;User ID=hiperdevadmin@hiperdeveu;Password=Newpassw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Hiper.Api.AppContext, Hiper.Api" MigrationConfiguration="Hiper.Api.Migrations.Configuration, Hiper.Api" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppContext-Web.config Connection String">
      <ParameterValue>Server=tcp:hiperdeveu.database.windows.net,1433;Database=hiperdeveu;User ID=hiperdevadmin@hiperdeveu;Password=Newpassw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>